.App-section {
  min-height: 80vh;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
}

.movie-list h2 {
  color: red;
  margin-top: 3rem;
  font-size: 3rem;
  text-align: center;
}

.movie-box {
  margin: 3rem;
  box-shadow: 2px 2px 2px gray;
}
