.movie-card {
  margin: 3rem;
  max-width: 300px;
}

.movie-img img {
  height: 400px;
  width: 300px;
  box-shadow: 2px 2px 2px gray;
}

.movie-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.movie-title {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
}

.movie-year {
  font-size: 12px;
  font-weight: 600;
}

.movie-type {
  float: right;
}

.movie-link {
  font-size: 16px;
}
