@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap");

.App-header {
  height: auto;
}

.navbar-container {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  color: #000;
  background-color: yellow;
  box-shadow: 2px 2px 2px gray;
}

.navbar-link {
  text-decoration: none;
}

.navbar-link:visited {
  color: #000 !important;
}

.brand-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}

.brand-text {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 5rem;
  margin-right: 2rem;
}

.brand-logo {
  height: 50px;
}

@media (max-width: 576px) {
  .brand-text {
    font-size: 4rem;
  }
}

@media (max-width: 476px) {
  .navbar-container {
    flex-direction: column;
  }
  .brand-text {
    font-size: 3rem;
  }
}
